.btn
	color: white
	border: none
	font-size: 16px
	font-weight: bold
	text-transform: uppercase
	padding: 10px 15px
	border-radius: 5px
	transition: all .3s
	&:hover,&:focus
		color: white

.flex
	display: flex
	align-items: flex-start
	flex-wrap: wrap

.flex_space-between
	@extend .flex
	justify-content: space-between

.flex_centered
	@extend .flex
	align-items: center

.flex_stretch
	display: flex
	align-items: stretch
	flex-wrap: wrap

.relative
	position: relative

.socials
	display: flex
	a
		height: 39px
		width: 37px
		display: block
		background-size: cover
		padding: 0 !important
		border-top: 0 !important
		&:not(:last-child)
			margin-right: 1px

		&._facebook
			background-image: url("../img/facebook_white.png")
		&._twitter
			background-image: url("../img/twitter.png")
		&._in
			background-image: url("../img/in.png")
		&._youtube
			background-image: url("../img/youtube_white.png")


.pagination
	display: flex
	margin: 75px 0 0
	a
		display: block
		width: 40px
		height: 40px
		line-height: 40px
		text-align: center
		color: #34383e
		font-size: 18px
		font-weight: 500
		border: 1px solid #d2d6dc
		&._current,&:hover
			border-color: #0e76bc
		&:not(:last-child)
			margin-right: 10px

.pagination--prev,.pagination--next
	background-color: #0e76bc
	border: 1px solid #0e76bc !important
	background-image: url("../img/pagination-prev.png")
	background-repeat: no-repeat
	background-position: 50% 50%

.pagination--next
	background-image: url("../img/pagination-next.png")

