@import 'colors.sass'
@import 'mixins.sass'
@import 'classes.sass'

a
	color: initial
	transition: all 0.3s
	&:hover,&:focus
		text-decoration: none
		opacity: 0.8
		color: initial

body
	font-family: 'PT Sans', sans-serif
	position: relative

.background
	width: 100%
	position: relative

.container-fluid
	padding-left: 0
	padding-right: 0

body
	margin: 0

@import 'header.sass'
@import 'index.sass'
@import 'footer.sass'
